h2 {font-family: 'Trebuchet MS', Arial, Verdana, sans-serif}

/*formatting for the detail views*/
.detail-top{
  border-top:2px solid #e600e6;
 }
.detail-bottom{
  border-bottom:2px solid #e600e6;
}
.detail-left{
  border-left:2px solid #e600e6;
}
.detail-right{
  border-right:2px solid #e600e6;
}
.detail-top-left{
  border-top:2px solid #e600e6;
  border-left: 2px solid #e600e6;
  border-radius: 15px 0px 0px 0px;
}
.detail-top-right{
  border-top:2px solid #e600e6;
  border-right: 2px solid #e600e6;
  border-radius: 0px 15px 0px 0px;
}
.detail-bottom-left{
  border-bottom:2px solid #e600e6;
  border-left: 2px solid #e600e6;
  border-radius: 0px 0px 0px 15px;
}
.detail-bottom-right{
  border-bottom:2px solid #e600e6;
  border-right: 2px solid #e600e6;
  border-radius: 0px 0px 15px 0px;
}
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.labels {
	font-weight: 600;
	vertical-align: top;
}
.photo-border {
    width: 150px;
    border: 1px solid darkgray;
    box-shadow: 5px 5px #A9A9A9;
}

/*set fixed footer*/
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: left;
}
/*nested row data fields were defaulting to bold, this returns them to normal*/
.cdata {
    font-weight: 400;
}
/*overrides the bootstrap label - adds space between filter label and field*/
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  margin-right: 8px;
  font-weight: bold;
}

#raptr-nav .navbar-nav li > a {
	text-transform: capitalize;
	color: #333;
	transition: background-color .2s, color .2s;

	&:hover,
	&:focus {
		background-color: #333;
		color: #fff;
	}
}

#raptr-nav .navbar-nav li.active > a {
	background-color: #333;
	color: #fff;
}