h2 {font-family: 'Trebuchet MS', Arial, Verdana, sans-serif}

/*formatting for the detail views*/
.labels {
	font-weight: 600;
	vertical-align: top;
}
.photo-border {
    width: 150px;
    border: 1px solid darkgray;
    box-shadow: 5px 5px #A9A9A9;
}
.detail-border {
  border-radius: 15px 15px 15px 15px;
  border: 2px solid #e600e6;
  padding: 10px;
}
@media (min-width: 1200px) {
  .container {
    width: 670px;
  }
}

/*set fixed footer*/
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: left;
}

/*overrides the bootstrap label - adds space between filter label and field*/
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  margin-right: 8px;
  font-weight: bold;
}

/*format the navbar*/
.navbar-brand {
  display: flex;
  align-items: center;
}

/*add spacing between rows of detail view*/
.row{
  margin-bottom: 5px
}

/*add buffer to top of rows in dashboard view*/
.top-buffer {
  margin-top:30px;
}

.bad {
  background-color:#ffe6e6;
}
