.navbar{
    background-color: rgb(57,106,177);
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    padding: 5px 5px 5px 5px
}
.navbar a{
    text-decoration: none;
    color: inherit;
}
.navbar-brand{
    font-size 1.2em;
    font-weight: 600;
}
.navbar-item{
    font-variant: small-caps;
    margin-left: 30px;
}
.body-content{
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Verdana, Geneva, Verdana, sans-serif;
}


h2 {font-family: 'Trebuchet MS', Arial, Verdana, sans-serif}

/*formatting for the detail views*/
.detail-top{
  border-top:2px solid #e600e6;
 }
.detail-bottom{
  border-bottom:2px solid #e600e6;
}
.detail-left{
  border-left:2px solid #e600e6;
}
.detail-right{
  border-right:2px solid #e600e6;
}
.detail-top-left{
  border-top:2px solid #e600e6;
  border-left: 2px solid #e600e6;
  border-radius: 15px 0px 0px 0px;
}
.detail-top-right{
  border-top:2px solid #e600e6;
  border-right: 2px solid #e600e6;
  border-radius: 0px 15px 0px 0px;
}
.detail-bottom-left{
  border-bottom:2px solid #e600e6;
  border-left: 2px solid #e600e6;
  border-radius: 0px 0px 0px 15px;
}
.detail-bottom-right{
  border-bottom:2px solid #e600e6;
  border-right: 2px solid #e600e6;
  border-radius: 0px 0px 15px 0px;
}
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.labels {
	font-weight: 600;
	vertical-align: top;
}
.photo-border {
    width: 150px;
    border: 1px solid darkgray;
    box-shadow: 5px 5px #A9A9A9;
}

/*set fixed footer*/
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: left;
}

.cdata {
    font-weight: 400;
}