
h2 {font-family: 'Trebuchet MS', Arial, Verdana, sans-serif}



/*.detail_content h2       {color: white;  background-color: darkblue;
                          font-size: 1.2em; padding: 5px 0px 5px 12px; margin: 0px}*/

/*
 Format the project details table - detail.html
*/
table.contact_detail{
    width: 100%;
}

table.project_detail{
   width: 100%;
}

table.crada_detail{
   width: 100%;
}

.contact_photo{
    vertical-align: top;
}
table.funds_table{
    border: 1px solid gray;
    border-collapse: collapse;
    width: 100%;
}
table.funds_table td{
    border: 1px solid gray;
    border-collapse: collapse;
}
table.funds_table tr:nth-child(even) {
    background-color: #eee;
    border: 1px solid gray;
}
table.funds_table tr:nth-child(odd) {
   background-color: #fff;
   border: 1px solid gray;
}
table.funds_table th {
    background-color: rgb(57, 106, 177);
    color: white;
    padding: 5px;
    text-align: left;
}

table.docs_table{
    border: 1px solid gray;
    border-collapse: collapse;
}
table.docs_table td{
    border: 1px solid gray;
    border-collapse: collapse;
}
table.docs_table tr:nth-child(even) {
    background-color: #eee;
    border: 1px solid gray;
}
table.docs_table tr:nth-child(odd) {
   background-color: #fff;
   border: 1px solid gray;
}
table.docs_table th {
    background-color: rgb(57, 106, 177);
    color: white;
    padding: 5px;
    text-align: left;
}

#sub_tables{
    vertical-align: top;
}
.crada-project-note{
    display: inline-block;
    vertical-align: top;
    border: 1px solid lightgray;
}
.dash_projs{
  position: relative;
  left: 30px;
  width: 500px;
  border: 3px solid #73AD21;
}

.top-buffer {
  margin-top:20px;
}
.row-bordered:after {
  content: "";
  display: block;
  border-bottom: 1px solid #ccc;
  margin: 0 15px;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}

.crada_ps{
  width: 300px;
}

.rlp-container {
	width: 34%;
	margin: auto;
	}
.labels {
	font-weight: 600;
	vertical-align: top;
}
.topbuffer {
  margin-top: 25px;
}
