{% extends "shared/base.html" %}
{% load static %}
{% get_media_prefix %}

{% block content %}

<div class="details_content">

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

     <div class="container">
        <h2>Detail for Proposal: {{ proposal.proposal_id }}</h2>
        <div class="row row-eq-height">
            <div class="col-xs-1 detail-top-left">
                &nbsp;
            </div>
            <div class="col-xs-4 detail-top">
                &nbsp;
            </div>
            <div class="col-xs-1 detail-top-right">
                &nbsp;
            </div>
        </div>
         <div class="row row-eq-height PID">
            <div class="labels col-xs-1 detail-left">Proposal:</div>
            <div class="pdata col-xs-1">{{ proposal.proposal_id }}</div>
            <div class="col-xs-1"></div>
            <div class="labels col-xs-1">Submitted:</div>
            <div class="pdata col-xs-1">{{ proposal.year_proposed }}</div>
            <div class="col-xs-1 detail-right">&nbsp;</div>
        </div>
        <div class="row row-eq-height PI">
            <div class="labels col-xs-1 detail-left">PI:</div>
            {% if proposal.investigator_supported %}
                <div class="pdata col-xs-5 detail-right"><a href="../../../shared/contact/{{ proposal.investigator_supported.slug }}/"> {{proposal.investigator_supported }}</a></div>
            {% else %}
                <div class="pdata col-xs-5 detail-right">{{proposal.investigator_supported }}</div>
            {% endif %}
        </div>
        <div class="row row-eq-height Title">
            <div class="labels col-xs-1 detail-left">Title:</div>
            <div class="pdata col-xs-5 detail-right">{{ proposal.proposal_title }}</div>
        </div>
        <div class="row row-eq-height Sponsor">
            <div class="labels col-xs-1 detail-left">Sponsor:</div>
            {% if proposal.sponsor %}
                <div class="pdata col-xs-5 detail-right"><a href="../../../shared/sponsor/{{ proposal.sponsor.slug }}/"> {{ proposal.sponsor }}</a></div>
            {% else %}
                <div class="pdata col-xs-5 detail-right">{{ proposal.sponsor }}</div>
            {% endif %}
        </div>
        <div class="row row-eq-height Status">
            <div class="labels col-xs-1 detail-left">Status:</div>
            <div class="pdata col-xs-2">{{ proposal.status }}</div>
            <div class="labels col-xs-1">Fund Cd:</div>
            <div class="pdata col-xs-1">{{ proposal.fund_code }}</div>
            <div class="col-xs-1 detail-right">&nbsp;</div>
        </div>
        <div class="row row-eq-height Proposal dates">
            <div class="labels col-xs-1 detail-left">Submitted:</div>
            <div class="pdata col-xs-2">{{ proposal.date_submitted }}</div>
            <div class="labels col-xs-1">&nbsp;</div>
            <div class="pdata col-xs-2 detail-right">&nbsp;</div>
        </div>
        <div class="row row-eq-height">
            <div class="col-xs-6 detail-left detail-right">&nbsp;</div>
        </div>
        <div class="row row-eq-height">
            <div class="labels col-xs-1 detail-left">Funding:</div>
            <div class="col-xs-4">
                <table class="table table-bordered table-condensed table-striped table-responsive">
                    <tr id="funds_header">
                        <th scope="col">FCFY</th>
                        <th scope="col">Type</th>
                        <th scope="col"> Budget</th>
                        <th scope="col">Expires</th>
                    </tr>
                    {% if proposal.fundfy_set.all %}
                    {% for funds in proposal.fundfy_set.all %}
                    <tr>
                        <td>{{ funds.fcfy }}</td>
                        <td>{{ funds.fund_type}}</td>
                        <td>{{ funds.budget }}</td>
                        <td>{{ funds.funds_expire}}</td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="4">No funding has been entered.</td>
                    </tr>
                    {% endif %}
                </table>
            </div>
            <div class="col-xs-1 detail-right">&nbsp;</div>
        </div>
        <div class="row row-eq-height DocTable">
            <div class="labels col-xs-1 detail-left">Documents:</div>
            <div class="col-xs-4">
                <table class="table table-bordered table-condensed table-striped table-responsive">
                    {% if proposal.fileupload_set.all %}
                    {% for docs in proposal.fileupload_set.all %}
                    <tr>
                        <td><a href="\..\..\media\{{docs.file_upload}}">{{docs.file_category }}</a></td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="2">No files have been uploaded.</td>
                    </tr>
                    {% endif %}
                </table>
            </div>
            <div class="col-xs-1 detail-right">&nbsp;</div>
        </div>
        <div class="row row-eq-height">
            <div class="labels col-xs-1 detail-left">Notes:</div>
            <div class="col-xs-5 detail-right">{{ proposal.proposal_notes|linebreaks }}</div>
        </div>
        <div class="row row-eq-height">
            <div class="col-xs-1 detail-bottom-left">
                &nbsp;
            </div>
            <div class="col-xs-4 detail-bottom">
                &nbsp;
            </div>
            <div class="col-xs-1 detail-bottom-right">
                &nbsp;
            </div>
        </div>
    </div><!--close container-->
</div><!--close detailsContent-->

{% endblock %}