{% extends "shared/base.html" %}

{% block content %}

<h3>Welcome to RAPTR.</h3>
<h4>The Reimbursable, Advance, and Proposal Tracking System.</h4>
<address>
    <strong>RAPTR Support: </strong>Richard Parks<br />
</address>

<h3>Links</h3>
<address>
    <strong>Django:</strong> <a href="https://www.djangoproject.com/" target="_blank">https://www.djangoproject.com/</a><br />
</address>
<p>QR link to Django Docs:</p>
<img src="..\..\static\raptr\images\django_docs_qr.png" alt="QR Code linking to Django Docs" height="75" width="75">

{% endblock %}
