<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    {% load static %}
    {% include 'base/css.html' %}
    {% include 'base/bootstrap_defaults.html' %}
    {% load render_table from django_tables2 %}
    {% load bootstrap4 %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <script src="{% static 'raptr/scripts/raptr_charts.js' %}" type="text/javascript"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'raptr/content/layout.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'raptr/content/style.css' %}">
</head>
<body>
    <div class="logo-brand">
      <h1><img src="{% static 'raptr/images/raptr_logo.png' %}"></h1>
    </div>

    <div class="navbar">
        <ul class="nav navbar-nav">
            <li><a href="/shared" class="navbar-item">Dashboard</a></li>
            <li><a href="{% url 'raptr:project_list' %}" class="navbar-item">Reimbursable & Advance</a></li>
            <li><a href="{% url 'crada:crada_list' %}" class="navbar-item">CRADA</a></li>
            <li><a href="{% url 'proposal:proposal_list' %}" class="navbar-item">Proposals</a></li>
            <li><a href="{% url 'shared:contact_list' %}" class="navbar-item">Contact List</a></li>
            <li><a href="{% url 'shared:reports' %}" class="navbar-item">Reports</a></li>
            <li><a href="{% url 'shared:about' %}" class="navbar-item">About</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
        {% if request.user.is_authenticated%}
            {% if user.is_superuser %}
                <li><a href="/admin">Administration</a></li>
            {% endif %}
        {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if request.user.is_authenticated %}
            <li><a href = "">Hello, {{ request.user.first_name }}</a></li>
            <li><a href="{% url 'raptr:logout' %}">Logout</a></li>
          {% else %}
            <li><a href="{% url 'raptr:login' %}">Log-in</a></li>
          {% endif %}
          </ul>
    </div>

    <div class="container-fluid">
        {% block content %}{% endblock content %}
    </div>
    {% include 'base/js.html' %}
    <script>
    $(document).ready(function(){
      {% block jquery %}{% endblock %}
    })
    </script>
    <footer>
      <hr/>
      <p>&nbsp; &nbsp; 2019 - PMEL RAPTR</p>
    </footer>
</body>
</html>
