<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'raptr/content/layout.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'raptr/content/bootstrap.css' %}" />
</head>
<body>
    <div class="logo-brand">
    <h1><img src="{% static 'raptr/images/raptr_logo.png' %}"></h1>
    </div>
    <div class="navbar">
        <ul class="nav navbar-nav">
            <li><a href="/raptr" class="navbar-item">RAPTR Dashboard</a></li>
            <li><a href="{% url 'raptr:project_list' %}" class="navbar-item">Reimbursable & Advance</a></li>
            <li><a href="" class="navbar-item">CRADA</a></li>
            <li><a href="" class="navbar-item">Proposals</a></li>
<!--            <li><a href="{% url 'raptr:project_list' %}" class="navbar-item">Project List</a></li>-->
            <li><a href="{% url 'shared:contact_list' %}" class="navbar-item">Contact List</a></li>
            <li><a href="{% url 'raptr:reports' %}" class="navbar-item">Reports</a></li>
            <li><a href="{% url 'shared:about' %}" class="navbar-item">About</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
        {% if request.user.is_authenticated%}
            {% if user.is_superuser %}
                <li><a href="/admin">Administration</a></li>
            {% endif %}
        {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if request.user.is_authenticated %}
            <li><a href = "">Hello, {{ request.user.first_name }}</a></li>
            <li><a href="{% url 'raptr:logout' %}">Logout</a></li>
          {% else %}
            <li><a href="{% url 'raptr:login' %}">Log-in</a></li>
          {% endif %}
          </ul>
    </div>

    <div class="body-content">
        {% block content %}{% endblock %}
        <hr/>
        <footer>
            <p>2019 - PMEL RAPTR</p>
        </footer>
    </div>
</body>
</html>