{% extends "shared/base.html" %}
{% load shared_filters %}
{% load static %}

<!--get chart data-->
<script>
{% block jquery %}
var endpoint = 'api/data/1/'
var defaultData = []
var labels = [];
$.ajax({
    method: "GET",
    url: endpoint,
    success: function(data){
        labels = data.labels
        defaultData = data.default
        console.log("success")
        setbyDivisionChart(labels, defaultData)
    },
    error: function(error_data){
        console.log("error")
        console.log(error_data)
    }
})

var endpoint = 'api/data/2/'
var defaultData = []
var labels = [];
$.ajax({
    method: "GET",
    url: endpoint,
    success: function(data){
        labels = data.labels
        defaultData = data.default
        console.log("success")
        setbyResearchProgramChart(labels, defaultData)
    },
    error: function(error_data){
        console.log("error")
        console.log(error_data)
    }
})
{% endblock %}
</script>

{% block content %}
  <div class="row">
    <div class="col-md-3">
      <h4 class="text-center">FY 2019 R&amp;A Funds by Division</h4>
      <table class="table table-bordered table-condensed table-striped">
      <thead>
        <tr>
            <td colspan="2">
              <div class="container">
                <canvas id="byDivisionChart"></canvas>
              </div>
            </td>
          </tr>
        </thead>
        <tr class="by_division_header">
          <th scope="col">Division</th>
          <th scope="col">Funds Received</th>
        </tr>
        {% if by_division %}
          {% for division in by_division %}
            <tr>
              <td>{{ division.division }}</td>
              <td class="text-right">{{ division.budget__sum|currency }}</td>
            </tr>
          {% endfor %}
        {% else %}
        <tr>
          <td>No data retrieved.</td>
          <td></td>
        </tr>
        {% endif %}
        <tfoot>
          <td><strong>Total</strong></td>
          <td class="text-right"><strong>{{ by_division_total.budget__sum|currency }}</strong></td>
        </tfoot>
      </table>
    </div>
    <div class="col-md-3">
      <h4 class="text-center">FY 2019 R&amp;A Funds by Research Program</h4>
      <table class="table table-bordered table-condensed table-striped">
        <thead>
        <tr>
          <td colspan="2">
            <div class="container">
              <canvas id="byResearchProgramChart"></canvas>
            </div>
          </td>
        </tr>
        </thead>
        <tr class="by_research_program_header">
          <th scope="col">Research Program</th>
          <th scope="col">Funds Received</th>
        </tr>
        {% if by_research_program %}
          {% for rp in by_research_program %}
            <tr>
              <td>{{ rp.research_program }}</td>
              <td class="text-right">{{ rp.budget__sum|currency }}</td>
            </tr>
          {% endfor %}
        {% else %}
        <tr>
          <td>No data retrieved.</td>
          <td></td>
        </tr>
        {% endif %}
        <tfoot>
          <td><strong>Total</strong></td>
          <td class="text-right"><strong>{{ by_research_program_total.budget__sum|currency }}</strong></td>
        </tfoot>
      </table>
    </div>
  </div>

{% endblock %}