{% extends "shared/base.html" %}
{% load render_table from django_tables2 %}
{% load bootstrap3 %}
{% load static %}

{% block content %}
  <link rel="stylesheet" type="text/css" href="{% static 'raptr/content/style.css' %}">
  <h3>Current Fiscal Year New Reimbursable Funds</h3>

  <div class="dash_projs">
    {% for table in tables %}
      {% render_table table 'shared/semantic.html' %}
    {% endfor %}
  </div>
  <div>
    <h3>Current CRADAs</h3>
  </div>

<!--  <span>-->
<!--    <img src="{% static 'raptr/images/New_RA_5yr.png' %}">-->
<!--  </span>-->
{% endblock %}