{% extends "shared/base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'raptr/content/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'raptr/content/rounded.css' %}">

    <div class="details_content">
        <h2>Detail for Sponsor: {{sponsor.sponsor_acronym}}</h2>
    </div>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

            <div class="contactBox"> <!-- set the box border -->
                <div class="top"><div class="bottom">
                <div class="left"><div class="right">
                <div class="topLeft"><div class="topRight">
                <div class="bottomLeft"><div class="bottomRight">

                    <div class="boxContent">
                        <table class="sponsor_detail">
                                <tr>
                                    <td class="labels">Customer #:</td>
                                    <td class="pdata">{{ sponsor.customer_number }}</td>
                                </tr>

                                <tr>
                                    <td class="labels">Sponsor Acronym:</td>
                                    <td class="pdata">{{ sponsor.sponsor_acronym }}</td>
                                </tr>

                                <tr>
                                    <td class="labels">Sponsor Name:</td>
                                    <td class="pdata"> {{ sponsor.sponsor_name }}</td>
                                </tr>

                                <tr>
                                    <td class="labels">Sponsor Type:</td>
                                    <td class="pdata"> {{ sponsor.sponsor_type }}</td>
                                </tr>

                                <tr>
                                    <td class="labels">Country:</td>
                                    <td class="pdata">{{ sponsor.sponsor_country }}</td>
                                </tr>
                                <tr>
                                    <td class="labels">Website:</td>
                                    <td class="pdata"><a href="{{ sponsor.sponsor_url }}">{{ sponsor.sponsor_url }}</a></td>
                                </tr>
                        </table>
                    </div>

                </div></div>
                </div></div>
                </div></div>
                </div></div>
            </div>

{% endblock %}