{% extends "shared/base.html" %}
{% load static %}

{% block content %}

<div class="details_content">

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <div class="container">
        <h2>Detail for Sponsor: {{sponsor.sponsor_acronym}}</h2>
        <div class="row row-eq-height">
            <div class="col-xs-2 detail-top-left">
                &nbsp;
            </div>
            <div class="col-xs-4 detail-top">
                &nbsp;
            </div>
            <div class="col-xs-1 detail-top-right">
                &nbsp;
            </div>
        </div>
        <div class="row row-eq-height customer_num">
            <div class="labels col-xs-2 detail-left">Sponsor #:</div>
            <div class="pdata col-xs-4">{{ sponsor.customer_number }}</div>
            <div class="col-xs-1 detail-right">&nbsp;</div>
        </div>
        <div class="row row-eq-height customer_acro">
            <div class="labels col-xs-2 detail-left">Sponsor Acronym:</div>
            <div class="pdata col-xs-4">{{ sponsor.sponsor_acronym }}</div>
            <div class="col-xs-1 detail-right">&nbsp;</div>
        </div>
        <div class="row row-eq-height customer_name">
            <div class="labels col-xs-2 detail-left">Name:</div>
            <div class="pdata col-xs-4">{{ sponsor.sponsor_name }}</div>
            <div class="col-xs-1 detail-right">&nbsp;</div>
        </div>
        <div class="row row-eq-height customer_type">
            <div class="labels col-xs-2 detail-left">Sponsor Type:</div>
            <div class="pdata col-xs-4">{{ sponsor.sponsor_type }}</div>
            <div class="col-xs-1 detail-right">&nbsp;</div>
        </div>
        <div class="row row-eq-height customer_country">
            <div class="labels col-xs-2 detail-left">Country:</div>
            <div class="pdata col-xs-4">{{ sponsor.sponsor_country }}</div>
            <div class="col-xs-1 detail-right">&nbsp;</div>
        </div>
        <div class="row row-eq-height customer_url">
            <div class="labels col-xs-2 detail-left">Website:</div>
            {% if sponsor.sponsor_url %}
                <div class="pdata col-xs-4"><a href="{{ sponsor.sponsor_url }}">{{ sponsor.sponsor_url }}</a></div>
            {% else %}
                <div class="pdata col-xs-4">{{ sponsor.sponsor_url }}</div>
            {% endif %}
            <div class="col-xs-1 detail-right">&nbsp;</div>
        </div>
        <div class="row row-eq-height">
            <div class="col-xs-2 detail-bottom-left">
                &nbsp;
            </div>
            <div class="col-xs-4 detail-bottom">
                &nbsp;
            </div>
            <div class="col-xs-1 detail-bottom-right">
                &nbsp;
            </div>
        </div>
    </div><!--close container-->
</div><!--close details_content-->

{% endblock %}