{% extends "shared/base.html" %}
{% load static %}

{% block content %}

<div class="details_content">

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <div class="container">
        <h2>Detail for Sponsor: {{sponsor.sponsor_acronym}}</h2>
        <div class="detail-border">
            <div class="row customer_num">
                <div class="labels col-lg-3">Sponsor #:</div>
                <div class="pdata col-lg-5">{{ sponsor.customer_number }}</div>
                <div class="col-lg-4">&nbsp;</div>
            </div>
            <div class="row customer_acro">
                <div class="labels col-lg-3 ">Sponsor Acronym:</div>
                <div class="pdata col-lg-5">{{ sponsor.sponsor_acronym }}</div>
                <div class="col-lg-4">&nbsp;</div>
            </div>
            <div class="row customer_name">
                <div class="labels col-lg-3">Name:</div>
                <div class="pdata col-lg-9">{{ sponsor.sponsor_name }}</div>
            </div>
            <div class="row customer_type">
                <div class="labels col-lg-3">Sponsor Type:</div>
                <div class="pdata col-lg-9">{{ sponsor.sponsor_type }}</div>
            </div>
            <div class="row customer_country">
                <div class="labels col-lg-3">Country:</div>
                <div class="pdata col-lg-9">{{ sponsor.sponsor_country }}</div>
            </div>
            <div class="row customer_url">
                <div class="labels col-lg-3">Website:</div>
                {% if sponsor.sponsor_url %}
                    <div class="pdata col-lg-9"><a href="{{ sponsor.sponsor_url }}">{{ sponsor.sponsor_url }}</a></div>
                {% else %}
                    <div class="pdata col-lg-9">{{ sponsor.sponsor_url }}</div>
                {% endif %}
            </div>
        </div>
    </div><!--close container-->
</div><!--close details_content-->

{% endblock %}