{% extends "shared/base.html" %}
{% load static %}
{% get_media_prefix %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'raptr/content/style.css' %}">

<div class="details_content">

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

     <div class="container">
        <h2>Detail for Project: {{ project.project_number }}</h2>
        <div class="row row-eq-height">
            <div class="col-xs-1 detail-top-left">
                &nbsp;
            </div>
            <div class="col-xs-4 detail-top">
                &nbsp;
            </div>
            <div class="col-xs-1 detail-top-right">
                &nbsp;
            </div>
        </div>
        <div class="row row-eq-height PID">
            <div class="labels col-xs-1 detail-left">Project:</div>
            <div class="pdata col-xs-1">{{ project.project_id }}</div>
            <div class="col-xs-1"></div>
            <div class="labels col-xs-1">Submitted:</div>
            <div class="pdata col-xs-1">{{ project.year_proposed }}</div>
            <div class="col-xs-1 detail-right">&nbsp;</div>
        </div>
        <div class="row row-eq-height PI">
            <div class="labels col-xs-1 detail-left">PI:</div>
            <div class="pdata col-xs-5 detail-right"><a href="../../../shared/contact/{{ project.investigator_supported.slug }}/">{{project.investigator_supported }} </a></div>
        </div>
        <div class="row row-eq-height Title">
            <div class="labels col-xs-1 detail-left">Title:</div>
            <div class="pdata col-xs-5 detail-right">{{ project.project_title }}</div>
        </div>
        <div class="row row-eq-height Sponsor">
            <div class="labels col-xs-1 detail-left">Sponsor:</div>
            <div class="pdata col-xs-5 detail-right"><a href="../../../shared/sponsor/{{ project.sponsor.slug }}/">{{ project.sponsor }} </a></div>
        </div>
        <div class="row row-eq-height Status">
            <div class="labels col-xs-1 detail-left">Status:</div>
            <div class="pdata col-xs-2">{{ project.status }}</div>
            <div class="labels col-xs-1">Fund Cd:</div>
            <div class="pdata col-xs-1">{{ project.fund_code }}</div>
            <div class="col-xs-1 detail-right">&nbsp;</div>
        </div>
        <div class="row row-eq-height Project dates">
            <div class="labels col-xs-1 detail-left">Start:</div>
            <div class="pdata col-xs-2">{{ project.oar_accept_date }}</div>
            <div class="labels col-xs-1">Expires:</div>
            <div class="pdata col-xs-2 detail-right">{{ project.project_expiration_date }}</div>
        </div>
        <div class="row row-eq-height">
            <div class="col-xs-6 detail-left detail-right">&nbsp;</div>
        </div>
        <div class="row row-eq-height">
            <div class="labels col-xs-1 detail-left">Funding:</div>
            <div class="col-xs-4">
                <table class="table table-bordered table-condensed table-striped table-responsive">
                    <tr id="funds_header">
                        <th scope="col">FCFY</th>
                        <th scope="col">Type</th>
                        <th scope="col"> Budget</th>
                        <th scope="col">Expires</th>
                    </tr>
                    {% if project.fundfy_set.all %}
                    {% for funds in project.fundfy_set.all %}
                    <tr>
                        <td>{{ funds.fcfy }}</td>
                        <td>{{ funds.fund_type}}</td>
                        <td>{{ funds.budget }}</td>
                        <td>{{ funds.funds_expire}}</td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="4">No funding has been entered.</td>
                    </tr>
                    {% endif %}
                </table>
            </div>
            <div class="col-xs-1 detail-right">&nbsp;</div>
        </div>
        <div class="row row-eq-height DocTable">
            <div class="labels col-xs-1 detail-left">Documents:</div>
            <div class="col-xs-4">
                <table class="table table-bordered table-condensed table-striped table-responsive">
                    {% if project.fileupload_set.all %}
                    {% for docs in project.fileupload_set.all %}
                    <tr>
                        <td><a href="\..\..\media\{{docs.file_upload}}">{{docs.file_category }}</a></td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="2">No files have been uploaded.</td>
                    </tr>
                    {% endif %}
                </table>
            </div>
            <div class="col-xs-1 detail-right">&nbsp;</div>
        </div>
        <div class="row row-eq-height">
            <div class="labels col-xs-1 detail-left">Notes:</div>
            <div class="col-xs-5 detail-right">{{ project.project_notes|linebreaks }}</div>
        </div>
        <div class="row row-eq-height">
            <div class="col-xs-1 detail-bottom-left">
                &nbsp;
            </div>
            <div class="col-xs-4 detail-bottom">
                &nbsp;
            </div>
            <div class="col-xs-1 detail-bottom-right">
                &nbsp;
            </div>
        </div>
    </div><!--close container-->
</div><!--close detailsContent-->

{% endblock %}