{% extends "shared/base.html" %}
{% load static %}
{% get_media_prefix %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'raptr/content/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'raptr/content/rounded.css' %}">
    <div class="details_content">

        <h2>Detail for CRADA: {{ crada.docket_number }}</h2>

        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

            <div class="roundedBox"> <!-- set the box border -->
                <div class="top"><div class="bottom">
                <div class="left"><div class="right">
                <div class="topLeft"><div class="topRight">
                <div class="bottomLeft"><div class="bottomRight">

                    <div class="cradaBox">
                        <div class="boxContent">
                        <table>
                                <tr>
                                    <td class="labels">Docket Number:</td>
                                    <td class="pdata">{{ crada.docket_number }}</td>
                                    <td class="labels">Project Status:</td>
                                    <td class="pdata">{{ crada.project_status }}</td>
                                    <td class="labels">Activity Phase:</td>
                                    <td class="pdata">{{ crada.activity_phase }}</td>
                                </tr>
                                <tr>
                                    <td class="labels">Effective Date:</td>
                                    <td class="pdata">{{ crada.effective_date }}</td>
                                    <td class="labels">Expiration Date:</td>
                                    <td class="pdata">{{ crada.expiration_date }}</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="labels">Project Title:</td>
                                    <td colspan="5" class="pdata"> {{ crada.project_title }}</td>
                                </tr>

                            <tr>
                                    <td class="labels">Investigator Supported:</td>
                                    <td colspan="5" class="pdata"><a href="../../../shared/contact/{{ crada.noaa_pi.slug }}/"> {{ crada.noaa_pi }} </a></td>
                                </tr>


                                <tr>
                                    <td class="labels">Collaborator:</td>
                                    <td colspan="5" class="pdata"><a href="../../../shared/sponsor/{{ crada.collaborator.slug }}/"> {{ crada.collaborator }} </a></td>
                                </tr>
                                <tr height="15px"> </tr>

                        </table>
                        <table id="sub_tables">
                            <tr>
                                <td class="labels">Documents:</td>
                                <td class="labels">Project Summary:</td>

                            </tr>
                            <tr>
                                <td>
                                    <table class="docs_table">
                                    <tr id="docs_header">
                                        <th>Type</th>
                                    </tr>
                                        {% if project.fileupload_set.all %}
                                            {% for docs in project.fileupload_set.all %}
                                                <tr>
                                                    <td><a href="\..\..\media\{{docs.file_upload}}">{{ docs.file_category }}</a></td>
                                                </tr>
                                            {% endfor %}
                                        {% else %}
                                            <tr>
                                                <td>No files have been uploaded.</td>
                                            </tr>
                                        {% endif %}
                                     </table>
                                </td>
                                <td class="project-note">{{ crada.project_summary|linebreaks }}</td>
                            </tr>
                        </table>
                        </div>
                    </div>
                </div>
            </div>

                </div></div>
                </div></div>
                </div></div>
                </div></div>
            </div>
    </div>
</html>
{% endblock %}